{% extends 'base.html' %}

{% block content %}
    <h2>Password change</h2>

    <form action="." method="post">
        {% csrf_token %}

        {% if form.errors %}
            <p>Please correct the error(s) below</p>
        {% endif %}

        <p>Please enter you old password for security, and then enter your new password twice</p>
        <fieldset>
            <div>
                {{ form.old_password.label_tag }} {{ form.old_password }}
            </div>
            <div>
                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
            </div>
            <div>
                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
            </div>
        </fieldset>
        <input type="submit" value="저장하기">
    </form>
{% endblock %}