{% extends 'base.html' %}

{% block content %}
    <h2>{{ object.title }}</h2>

    <p>
        {% if object.get_previous_post %}
            <a href="{{ object.get_previous_post.get_absolute_url }}" title="View Previous Post">&laquo;--{{ object.get_previous_post }}</a>
        {% endif %}

        {% if object.get_next_post %}
            <a href="{{ object.get_next_post.get_absolute_url }}" title="View Next Post">{{ object.get_next_post }}--&raquo;</a>
        {% endif %}
    </p>
    <p class="date">{{ object.modify_date|date:"j F Y" }}</p>

    <div>
        {{ object.content|linebreaks }}
    </div>

    <div>
        <b>TAGS:</b>
        {% load tagging_tags %}
        {% tags_for_object object as tags %}
        {% for tag in tags %}
            <a href="{% url 'blog:tagged_object_list' tag.name %}">{{ tag.name }}</a>
        {% endfor %}

        <a href="{% url 'blog:tag_cloud' %}">[Tag Cloud]</a>

    </div>
{% endblock %}