{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'blog:search' %}">검색하기</a>

    {% if user.is_active %}
        <a href="{% url 'blog:post_create' %}">생성하기</a>
        <a href="{% url 'blog:post_change_list' %}">수정하기</a>
    {% endif %}

    <h2>Blog List</h2>

    {% for post in posts %}
        <h3><a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a></h3>
        <p>{{ post.modify_date|date:"N d, Y" }}</p>
        <p>{{ post.description }}</p>
    {% endfor %}
    <br>

    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous Page</a>
            {% endif %}
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next Page</a>
            {% endif %}
        </span>
    </div>


{% endblock %}